extends layout

include mixins/_productCard
include mixins/_pagination

block content
  .contentWrapper
    .cardHero
      .heroWrapper
        .imageWrapper
          img(src=`${heroObj.imageUrls.md}`)
        .heroContent
          .heroTitle
            #{heroObj.brand} #{heroObj.description}
          .heroBullets
            - let n = 0
              .listWrapper
                ul
                  while n < 3
                    li #{heroObj.marketingBullets[n++]}

        .heroPriceAndButton
          .heroPrice
            p $#{heroObj.networkPrice.replace(/(\.\d+)/g,".00")}
          a(href="nothing!")
            button(type="submit" disabled) ADD TO CART

    .cardList
      each product in products
        +productCard(product)

  +pagination(page, pages, productCount, heroObj.pricing.productId)
