extends layout

include mixins/_productCard

block content
  .cardHero
    .heroWrapper
      img(src=`${heroObj.imageUrls.lg}`)
      .heroContent
        .heroTitle
          #{heroObj.brand} #{heroObj.description}
        .heroBullets
        - let n = 0
          ul
            while n < 3
              li #{heroObj.marketingBullets[n++]}




      .heroPriceAndButton
        .heroPrice
          p $#{heroObj.networkPrice.replace(/(\.\d+)/g,".00")}
        a(href="nothing!")
          button(type="submit") ADD TO CART

  .cardList
    each product in products
      +productCard(product)