mixin pagination(page, pages, productCount, heroObj)
  .pagination
    .paginationWrapper
      .pagination_prev_wrapper
        if page > 1
          a(href=`/page/${parseFloat(page) -1}?maxResults=8`) 
            .pagination_prev
              p #{'<'}
        else
          a.disabled(href=`/page/${parseFloat(page) -1}?maxResults=8` disabled) 
            .pagination_prev
              p #{'<'}
      .pagination_numbers
        - let n = 1
          if page < 5
            while n < 6
              if n == page
                - console.log('n = ' + n)
                .pageNumberCurrentWrapper
                  a(href=`/page/${n}?maxResults=8`) 
                    .pageNumberCurrent
                      p #{n}
              else
                .pageNumberWrapper
                  a(href=`/page/${n}?maxResults=8`)
                    .pageNumber
                      p #{n}
              - n++
            if pages >= 6
              .pageDots
                p #{"..."}
              .pageEndWrapper
                a(href=`/page/${pages}?maxResults=8`) 
                  .pageEnd.pageNumber
                    p #{pages}
            .pagination_next_wrapper
              if page >= pages
                .pageNumber
                  p #{'>'}
              else
                a(href=`/page/${parseFloat(page) + 1}?maxResults=8`)
                  .pagination_next.pageNumber
                    p #{'>'}
          else
            - let r = parseFloat(page) - 1
            - let limit = parseFloat(page) + 2
            .pageDots
              p #{'...'}
            while r < limit
              if r == page 
                .pageNumberCurrentWrapper
                  a(href=`/page/${r}?maxResults=8`) 
                    .pageNumberCurrent
                      p #{r}
              else if !(r >= pages)
                .pageNumberWrapper
                  a(href=`/page/${r}?maxResults=8`) 
                    .pageNumber
                      p #{r}
              - r++
            if limit < pages
              .pageDots
                p #{'...'}
              .pageNumberWrapper
                a(href=`/page/${pages}?maxResults=8`) 
                  .pageNumber
                    p #{pages}
              .pagination_next_wrapper
                a(href=`/page/${parseFloat(page) + 1}?maxResults=8`) 
                  .pagination_next.pageNumber
                    p #{'>'}
            else
              if page >= pages
              else
                .pageNumberWrapper
                  a(href=`/page/${pages}?maxResults=8`) 
                    .pageNumber
                      p #{pages}
                .pagination_next_wrapper
                  a(href=`/page/${parseFloat(page) + 1}?maxResults=8`) 
                    .pagination_next.pageNumber
                      p #{'>'}
    .pagination_mobile_wrapper
      .pagination_prev_wrapper
        if page > 1
          a(href=`/page/${parseFloat(page) -1}?maxResults=8`) 
            .pagination_prev
              p #{'<'}
        else
          a.disabled(href=`/page/${parseFloat(page) -1}?maxResults=8` disabled) 
            .pagination_prev
              p #{'<'}
      .mobile_number_display_wrapper
        p Page #{page}
      unless page >= pages
        .pagination_next_wrapper
          a(href=`/page/${parseFloat(page) + 1}?maxResults=8`) 
            .pagination_next.pageNumber
              p #{'>'}