mixin productCard(product = {})
  .card
    .cardWrapper
      img(src=`${product.imageUrls.sm}`)
      .textPriceWrapper
        .cardText
          p #{product.brand} #{product.description}
        .cardPrice
          p $#{product.networkPrice.replace(/(\.\d+)/g,".00")}
        a(href=`/${product.pricing.productId}`)
          button(type="button") VIEW MORE